* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("naturebackground2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#menu{
    width: 100%;
    height: 75px;
    background-color: cornflowerblue;
    box-shadow: 0px 4px 5px black;
    text-decoration: none;
}

#knop-home-page{
    display: inline-block;
    width: 40px;
    height: 25px;
    background-color: gray;
    padding: 10px;
    margin: 12px;
    box-shadow: -2px 3px 5px black;
}

#knop-contact-page{
    display: inline-block;
    width: 60px;
    height: 25px;
    background-color: gray;
    padding: 10px;
    margin: 12px;
    box-shadow: -2px 3px 5px black;
}

#knop-wiebenik-page{
    display: inline-block;
    width: 85px;
    height: 25px;
    background-color: gray;
    padding: 10px;
    margin: 12px;
    box-shadow: -2px 3px 5px black;
}

#knop-vaardigheden-page{
    display: inline-block;
    width: 132px;
    height: 25px;
    background-color: gray;
    padding: 10px;
    margin: 12px;
    box-shadow: -2px 3px 5px black;
}

#knop-projecten-page{
    display: inline-block;
    width: 70px;
    height: 25px;
    background-color: gray;
    padding: 10px;
    margin: 12px;
    box-shadow: -2px 3px 5px black;
}

#vakje-homepage{
    width: 1200px;
    height: 400px;
    background-color: cornflowerblue;
    margin-left: 150px;
    margin-top: 75px;
    box-shadow: -2px 3px 5px black;
}

#vakje-homepage-2{
    width: 1200px;
    height: 400px;
    background-color: cornflowerblue;
    margin-left: 150px;
    margin-top: 75px;
    box-shadow: -2px 3px 5px black;
    text-align: center;
}

#vakje-homepage-titel{
    width: 100%;
    height: 50px;
}

#vakje-homepage-tekst{
    display: inline-block;
    width: 70%;
    height: 450px;
}

#vakje-homepage-plaatje{
    display: inline-block;
    width: 30%;
    height: 450px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: cornflowerblue;
    color: black;
    height: 90px;
    width: 100%;
    text-align: center;
}
 
#kat{
    padding-top: 5px;
    padding-bottom: 5px;
}

#gamen-listitem{
    list-style-position: inside;
}
#programmeren-listitem{
    list-style-position: inside;
}

#website-onderhouden-listitem{
    list-style-position: inside;
}

h1 {
    font-weight:normal;
}

h2 {
    font-weight:normal;
}

h3 {
    font-weight:normal;
}

h4 {
    font-weight:normal;
}

#qp_all2596223{
    margin-right: 100px;
}